.*
!.git*

*.so

/build/addons/godot-python/**/*
!/build/addons/godot-python/*
!/build/addons/godot-python/**/
!/build/addons/godot-python/**/*.plist

gdextension_interface.h
extension_api.json

# Build tools
/docs/*build/
compile_commands.json
